<h1>新規投稿</h1>

<%= form_with model: @post, url: posts_path, turbo_method: :post do |form| %>
  <div>
    <%= form.label :body, "投稿" %>
    <%= form.text_area :body, required: true %>
    <%= form.submit "送信" %>
  </div>
<% end %>